/* Write your CSS here! */
p{
    color:black
}

#mainHeading {
    background-color: white;
    color: red;
    padding: 40px;
    text-align: center;
  }

body{
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 8px;
        margin-left: 8px;
      }