/* Write your CSS here! */
p{
    color:black
}

#mainHeading {
    background-color: white;
    color: red;
    padding: 40px;
    text-align: center;
  }

body{
  display:block;
  margin:8px;
      }

      #testP.funParagraph{
        color:green;
      }
